<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>publicKey</key>
	<string>e4ef626c97f6855f275df4f0f08eb5bb</string>
	<key>privateKey</key>
	<string>a44cb5dff01f02f3314e0f01bb3d89ef88057a8d</string>
</dict>
</plist>
